.countdown--container {
  position: relative;
  box-sizing: border-box;
}

.countdown--base {
    box-sizing: border-box;
  border: 3px solid #ffffff;
  height: 4vh;
  width: 4vh;
  background-color: #34b1f1;
  border-radius: 50%;
}

.countdown--cover {
  height: 2.5vh;
  width: 2.5vh;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 0.75vh;
  left: 0.75vh;
}
