.player-card--container {
    /* margin-top: -5vh;
    margin-left: 10vw; */
    /* background-color: greenyellow; */
    width: 10vh;
    text-align: center;
    margin: 2.5vh;
}

.player-card--avatar {
    position: relative;
}

.player-card--avatar-initial {
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    /* border: 7px solid #FFFFFF; */
    /* box-shadow: 0 0 10px 5px rgba(190, 190, 255, 0.7); */
    font-size: 7.2vh;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-card--avatar-is-ready {
    position: absolute;
    height: 2.5vh;
    width: 2.5vh;
    border-radius: 50%;
    top: 7.5vh;
    left: 7.5vh;
}

.player-card--name {
    color: #48576B;
    font-weight: 700;
}